.card{
    max-width: 180px;
    margin: 0.5rem;
}

.card_header{
    display: flex;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
