    <div class="card-container" *ngFor="let profile of cardProfiles">
  
        <div class="card">
          <p >Username: {{profile.username}}</p>
          <p >Password: {{profile.password}}</p>
          <p >Name: {{profile.name}}</p>
          <p >Surname: {{profile.surname}}</p>
          <p >Company email: {{profile.company_email}}</p>
          <p >Personal email: {{profile.personal_email}}</p>
          <p >Active: {{profile.active}}</p>
          <p> Creation Date: {{profile.created_date}}</p>
          <div class="button_crud">
            <button> update </button>
            <button> delete </button>
          </div>
        </div>
    </div>


