
<div class="card">
  <p >ID: {{ profile.id }}</p>
  <p >Username: {{profile.username}}</p>
  <p >Password: {{profile.password}}</p>
  <p >Name: {{profile.name}}</p>
  <p >Surname: {{profile.surname}}</p>
  <p >Company email: {{profile.company_email}}</p>
  <p >Personal email: {{profile.personal_email}}</p>
  <p >Active: {{profile.active}}</p>
  <p> Creation Date: {{profile.created_date | date: 'dd/MM/yyyy'}}</p>
  <div class="button_crud">
    <button (click)="btnUpdate()"> update </button>
    <button (click)="btnDelete( profile.id!  )"> delete </button>
  </div>
</div>


