
.card-home{
    display: inline-flex;
    flex-direction: row;
    padding: 0.5rem;
}

.spacer{
    padding-top: 0.5rem;
    flex: 1 1 auto;
    direction: rtl;
}

.spacer_button{
    margin-right: 0.5rem;
}

mat-divider{
    margin-top: 0.5rem;
    border-top-color: white;
}